@font-face {
  font-family: Emoji;
  src:
    local("Apple Color Emojiji"),
    local("Segoe Emoji"),
    local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Emoji,
    Helvetica,
    Arial,
    sans-serif;
}

.dark {
  color-scheme: dark;
}
